@import '../../assets/css/colors.css';

.inputWrapper {
  width: 100%;
}

.input {
  display: block;
  border: 1px solid var(--color-jumbo);
  box-sizing: border-box;
  padding: 5px 0;
  border-radius: 2px;
  width: 100%;
  padding: 5px;
}

.label {
  display: block;
  color: var(--color-ship-gray);
  font-size: 12px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
}

.input:invalid {
  color: var(--color-cardinal);
  border: 1px solid var(--color-cardinal);
}

.input:active,
.input:focus {
  outline: none;
}

.error {
  color: var(--color-cardinal);
}

.errorMessage {
  color: var(--color-cardinal);
  margin: 0;
  font-size: 12px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  padding: 2px 0;
}
