@import '../../assets/css/colors.css';

.button {
  background-color: var(--color-cardinal);
  border-radius: 3px;
  border: 1px solid var(--color-cardinal);
  box-sizing: border-box;
  box-shadow: 0px 2.27027px 2.27027px rgba(0, 0, 0, 0.24), 0px 0px 2.27027px rgba(0, 0, 0, 0.12);
  color: var(--color-white);
  cursor: pointer;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 0.3s ease;
  padding: 8px 24px;
  width: 100%;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active {
  opacity: 0.8;
}

.outline {
  box-shadow: none;
  background-color: var(--color-white);
  border: 1px solid var(--color-ship-gray);
  color: var(--color-ship-gray);
}

.button.outline:hover {
  background-color: var(--color-ship-gray);
  color: var(--color-white);
}

.button.outline:focus,
.button.outline:active {
  opacity: 0.8;
  background-color: var(--color-white);
  border: 1px solid var(--color-ship-gray);
  color: var(--color-ship-gray);
}

.button.secondary {
  background: var(--color-jumbo);
  border: var(--color-jumbo);
  color: var(--color-white);
}

.button.small {
  font-size: 0.82em;
  font-weight: 500;
  padding: 5px;
}

.button.xsmall {
  font-size: 0.82em;
  padding: 4px;
}