@import '../../assets/css/colors.css';

.header {
  background-color: var(--color-cardinal);
  padding: 20px;
  overflow: hidden;
}

.header img {
  max-width: 280px;
}

.content {
  overflow: hidden;
  padding: 20px 0;
}

.pratices {
  padding-top: 20px;
}
