@import '../../../assets/css/colors.css';

.percent {
  position: relative;
  width: 30px;
  height: 30px;
}

.percent svg {
  position: relative;
  width: 30px;
  height: 30px;
}

.percent svg circle {
  width: 30px;
  height: 30px;
  fill: none;
  stroke-width: 2;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: var(--color-concrete);
}

.percent svg circle:nth-child(2) {
  stroke: var(--color-cardinal);
}
