@import '../../assets/css/colors.css';

.container {
  background-color: var(--color-concrete);
}

.product {
  background-color: var(--color-white);
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.productImage {
  height: 229px;
  margin: auto;
  width: 215px;
}

.productImage img {
  height: 100%;
}

.productContent {
  padding-top: 30px;
}

.productInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.productInfoSection {
  flex: 1;
}

.productRevenue {
  padding: 10px 20px;
}

.productIssueTitle {
  padding: 20px;
}

.issueSection {
  padding: 10px 0;
}

.productRevenueDocumet {
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px 20px;
  width: 100%;
}

.productRevenueDocumet img {
  width: 100%;
}

.revenuesAvatar {
  border-radius: 3px;
  height: 82px;
  overflow: hidden;
  width: 82px;
}

.revenuesAvatar img {
  height: 100%;
}

.revenueGallery {
  align-items: center;
  display: flex;;
  flex-wrap: wrap;
  justify-content: space-between;
}

.revenueItem {
  flex: 1;
  margin-bottom: 20px;
}
