@import '../../assets/css/colors.css';

.title {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

.normal {
  font-size: 14px;
  font-weight: normal;
}


.medium {
  font-size: 16px;
  font-weight: normal;
}

.small {
  font-size: 12px;
  font-weight: normal;
}

.large {
  font-size: 22px;
}

.primary {
  color: var(--color-ship-gray);
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.secondary {
  color: var(--color-jumbo);
}

.cardinal {
  color: var(--color-cardinal);
}

.white {
  color: var(--color-white);
}

.medium-1 {
  font-size: 20px;
}

.mediumBold {
  font-weight: 500;
}

.blue {
  color: rgb(0, 92, 197);
}

.undercore {
  text-decoration: underline;
}
