:root {
  --color-alto: #DFDFDF;
  --color-california: #F39801;
  --color-cardinal: #AC1637;
  --color-concrete: #F3F3F3;
  --color-jumbo: #76747F;
  --color-ship-gray: #3F3E44;
  --color-white: #ffffff;
}
