@import '../../assets/css/colors.css';

.container:not(:first-child) {
  padding: 20px 16px;
}

.header {
  background-color: var(--color-california);
  padding: 20px 16px 40px 16px;
}

.header .headerLoggout {
  text-align: right;
}

.headerBanner {
  position: relative;
  top: -40px;
  box-sizing: border-box;
  min-width: 175px;
  max-width: 300px;
  height: 200px;
  text-align: center;
  margin: auto;
}

.headerBanner img {
  width: 100%;
  max-width: 300px;
}

.borderEffect {
  position: relative;
  border-radius: 30px 30px 0 0;
  height: 40px;
  width: 100%;
  background-color: var(--color-white);
  top: -37px;
}

.content {
  position: relative;
  top: -50px;
  padding: 0 16px;
}

.contentMenu {
  display: flex;
  padding-top: 20px;
}

.contentMenu > * {
  box-sizing: border-box;
  width: calc((100vw - 60px) / 2);
}

.contentMenu > :first-child{
  margin-right: 10px;
}

@media screen and (min-width: 320px) {
  .contentMenu {
    height: 128px;
  }
}
