@import '../../assets/css/colors.css';

.collapse {
  background-color: var(--color-white);
  border: solid 1px var( --color-alto);
  border-radius: 3px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}

.collapseHeader {
  align-items: center;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
  border-bottom: solid 1px var( --color-alto);
  padding: 10px 20px;
}

.collapseHeader:focus {
  outline: none;
}

.collapseBody {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  padding: 5px 20px;
  margin-top: 16px;
}

.icon {
  transform: rotate(-180deg);
  transition: transform 0.4s ease-in-out;
}

.collapseIcon {
  transform: rotate(-360deg);
}
