@import '../../assets/css/colors.css';

.header {
  align-items: center;
  display:flex;
  background-color: var(--color-white);
  border-bottom: solid 1px var( --color-alto);
  box-sizing: border-box;
  height: 80px;
  padding: 10px 20px;
}

.logo {
  margin: auto;
  height: 50px;
}

.logo img {
  height: 100%;
}

.icon {
  width: 20px;
  height: 12px;
}

.icon img {
  height: 100%;
}
