@import '../../assets/css/colors.css';

.container {
  padding: 16px;
  min-height: calc(100vh - 20px);
}

.header {
  align-items: center;
  display: flex;
}

.title {
  flex: 1;
}

.banner {
  padding: 40px 0;
}

.equipmentItem {
  margin: 5px;
  width: calc((100vw - 52px) / 2);
}

.equipments {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .equipmentItem {
    width: calc((100vw - 80px) / 4);
  }
}
