@import '../../assets/css/colors.css';

.container {
  background: linear-gradient(
    135deg,
    var(--color-california) 49%,
    var(--color-cardinal) 49%
  );
  min-height: calc(100vh - 40px);
  padding: 20px;
}

.logo {
  margin: auto;
  width: 260px;
  padding: 30px 0;
}

.logo img {
  width: 100%;
}

.form {
  padding: 40px 0;
  margin: auto;
  max-width: 320px;
}

.buttonForm {
  padding: 20px 0;
}

.input {
  display: block;
  border: 1px solid var(--color-jumbo);
  box-sizing: border-box;
  padding: 5px 0;
  border-radius: 2px;
  width: 100%;
  padding: 5px;
}

.label {
  display: block;
  color: var(--color-ship-gray);
  font-size: 14px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 5px;
}

.input:invalid {
  color: var(--color-cardinal);
  border: 1px solid var(--color-cardinal);
}

.input:active,
.input:focus {
  outline: none;
}

.terms {
  display: flex;
}

.termsUnderscore > * {
  cursor: pointer;
}

.modalTitle {
  margin: 20px 0;
}
